version: '3.4'
services:
  db:
    image: postgres:12
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB_NAME}
    ports:
      - '5432:5432'
    volumes: 
      - ./data:/var/lib/postgresql/data
      - ./data:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

  # api:
  #   build:
  #     context: ./server
  #     dockerfile: Dockerfile
  #   command: go run main.go serve
  #   ports:
  #     - '5000:5000'
    # develop:
    #   watch:
    #     - action: sync+restart
    #       path: ./server
    #       target: /usr/src/app

  # worker:
  #   build:
  #     context: ./worker
  #     dockerfile: Dockerfile
  #   depends_on: 
  #     - redis
  #     - api
    # networks:
    #   - redis_worker
  

  redis:
    container_name: "redis"
    image: redis:alpine
    # Specify the redis.conf file to use !!
    # command: redis-server /usr/local/etc/redis/redis.conf
    # environment:
    #   REDIS_ARGS: "--requirepass pass --user name on >password ~* allcommands --user default off nopass nocommands"
    volumes:
      - ./redis/data:/data #Used for persisting data
      - ./redis/conf:/usr/local/etc/redis #Used for configuring redis
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - "6379:6379"

  redis-insight:
    image: redis/redisinsight:latest
    restart: always
    ports:
      - "5540:5540"
    volumes:
      - redis-insight:/data
    depends_on:
      - redis

  


volumes:
  redis-insight: